### https://raw.github.com/github/gitignore/8767bd67830c90e45336e3244af3cf9d90a65c01/Laravel.gitignore

vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# MySQL enviroment
.env
